/*  #070d97 */
html { background-color: white; }

body { font-family: 'SamsungSharpRegular'; color: black; background: white; }

a { color: black; }

h2 { text-align: center; }

.samsung_logo { max-width: 112px; }

.navbar-default { background: black; border: none; border-radius: 0; }
.navbar-default .navbar-nav > li > a { color: #fff; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.navbar-default .navbar-nav > .active > a { background: none transparent; border-bottom: 2px solid #fff; color: #fff; }
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background: none transparent; border-bottom: 2px solid #fff; color: #fff; }
.navbar-default .navbar-nav > li > a { color: #fff; padding: 22px 0 0 0; margin: 0 12px; font-size: 12px; }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: #ff9600; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { padding-bottom: 13px; }

.avisos_home { padding: 22px 22px 62px 22px; }
.avisos_home h2 { text-transform: uppercase; margin: 6px 0; }
.avisos_home h3 { font-weight: lighter; font-size: 18px; margin: 6px 0; }
.avisos_home small { font-size: 12px; }

.navbar-brand { padding: 19px 15px 15px 15px; }
.navbar-brand img { display: inline-block; }

footer { margin-top: 40px; background: black; color: white; }

.foot_text { padding: 30px 0; line-height: 180%; font-size: 15px; font-family: 'samsung500'; }
.foot_text i { padding: 0 6px; }
.foot_text .primerfoot { text-align: center; color: white; }
@media screen and (min-width: 990px) { .foot_text .primerfoot { text-align: left; } }
.foot_text .segundofoot { text-align: center; color: white; }
.foot_text .segundofoot a { color: white; }
@media screen and (min-width: 990px) { .foot_text .segundofoot { text-align: right; } }

.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #ff9600; }

.navbar-collapse.collapse.in { background: rgba(255, 255, 255, 0.3); }

.navbar-nav > li.btn_empresas a, a.btn_empr { border-radius: 6px; margin-top: 14px; padding: 8px 12px 6px 12px; background: #fff; color: black; font-size: 13px; -webkit-transition: all .2s linear; transition: all .2s linear; }
.navbar-nav > li.btn_empresas a:hover, a.btn_empr:hover { background: #ff9600; color: #fff; text-decoration: none; }

a.btn_empr { margin-top: 21px; padding: 16px 32px; font-size: 16px; display: inline-block; }

.navbar-default .navbar-nav > .open > a { background: none transparent; color: #fff; }
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background: none transparent; color: #fff; }

.navbar-nav > li > .dropdown-menu { border-radius: 6px; }

.dropdown-menu > li > a { color: black !important; }

.bighero img { border-radius: 12px; }

.form_container { padding-top: 60px; padding-bottom: 120px; }
.form_container h1 { text-align: center; font-size: 22px; margin-bottom: 22px; }

.form-control { background: white; color: black; border: none; -webkit-box-shadow: none; box-shadow: none; border-bottom: 1px solid black; border-radius: 0; border-bottom-width: 2px; }
.form-control:focus { border-color: black; -webkit-box-shadow: none; box-shadow: none; }

.boton_login { margin: 12px auto; }

.btn_cont { width: 100%; text-align: center; }

.big_form .btn_cont { width: 100%; }

.btn-default { background: transparent; color: black; border: 1px solid black; font-size: 18px; padding: 10px 22px 8px 22px; -webkit-transition: all .2s linear; transition: all .2s linear; }
.btn-default:hover { background: black; color: #ffffff; }

.btn-primary { background: transparent; color: black; border: 1px solid black; font-size: 18px; padding: 10px 22px 8px 22px; -webkit-transition: all .2s linear; transition: all .2s linear; }
.btn-primary:hover { background: black; color: white; }
.btn-primary.btn-small { font-size: 12px; }

.linkblanco { color: black; font-size: 18px; -webkit-transition: all .2s linear; transition: all .2s linear; }
.linkblanco:hover { color: #ff9600; text-decoration: none; }

/*
h2.quetegustaria{ font-size: 28px;
}

.quetegustaria,
.quetegustaria + .catalogo_premios{ display: none;
}

*/
.ventasyranking { margin-top: 32px; margin-bottom: 32px; padding: 22px; padding-right: 22px; }

.whitecard { background: white; border-radius: 13px; min-height: 262px; padding: 22px; }
.whitecard h2 { font-family: 'SamsungSharpBold'; font-size: 19px; margin: 0 0 22px 0; }

.rankingboard { border: 1px solid black; border-radius: 12px; margin-bottom: 22px; display: inline-block; min-width: 129px; }
.rankingboard h5 { border-bottom: 1px solid black; }
.rankingboard .rankingnumbers b { font-family: 'SamsungSharpBold'; font-size: 30px; }

.big_info { margin: 12px auto 0 auto; }
.big_info h1 { margin: 0; font-family: 'SamsungSharpBold'; }
.big_info h1.triple_moneda { background-image: url("../gfx/triple_moneda_azul.svg"); background-repeat: no-repeat; background-size: 390px; background-position: center center; padding: 100px 5px 100px 0; font-size: 23px; margin-top: 22px; }
@media screen and (max-width: 400px) { .big_info h1.triple_moneda { background-size: 330px; } }
@media screen and (max-width: 340px) { .big_info h1.triple_moneda { background-size: 280px; } }
.big_info h1.triple_moneda span { font-size: 14px; }
.big_info h2 { text-align: left; margin: 12px 0 6px 0; font-size: 14px; font-family: 'SamsungSharpRegular'; }
.big_info h2.titulologros { text-align: center; }
.big_info h3 { margin: 12px 0 0 0; font-size: 12px; }
.big_info p { font-family: 'samsung500'; }
.big_info p b, .big_info p span { font-family: 'samsung800'; }

.cadamoneda { max-width: 100px; }

.fondoceleste { background: #f5f6fa; }

.homeSecondRow h1 { font-family: 'SamsungSharpBold'; font-size: 19px; margin-bottom: 22px; }

.homeslider { position: relative; }
.homeslider .slick-prev.slick-arrow, .homeslider .slick-next.slick-arrow { position: absolute; bottom: 20px; z-index: 100; padding: 22px 0; }
.homeslider .slick-prev.slick-arrow:focus, .homeslider .slick-next.slick-arrow:focus { outline: none; }
.homeslider .slick-prev.slick-arrow { background: url("../gfx/chrevronnegro.svg") no-repeat; background-size: contain; width: 40px; height: 40px; border: none; right: 0px; text-indent: -9999px; overflow: hidden; }
.homeslider .slick-next.slick-arrow { background: url("../gfx/chrevronnegro.svg") no-repeat right; background-size: contain; width: 40px; height: 40px; border: none; right: 46px; -webkit-transform: rotate(180deg); transform: rotate(180deg); text-indent: -9990px; overflow: hidden; }
.homeslider .homesliderOne .homesliderOneFirstRow p { text-align: center; font-family: 'samsung500'; font-size: 16px; margin-top: 12px; }
.homeslider .homesliderOne .homesliderOneFirstRow p b { font-family: 'samsung800'; }
.homeslider .homesliderOne .homesliderOneSecondRow .progresshome { text-align: center; }
.homeslider .homesliderOne .homesliderOneSecondRow h2 { font-size: 19px; margin-bottom: 20px; }
.homeslider .homesliderOne .homesliderOneSecondRow h3 { font-size: 16px; font-family: 'samsung800'; }
.homeslider .homesliderOne .homesliderOneSecondRow p { font-family: 'samsung500'; }

.buttonslist a img { max-width: 90px; }

.progress { background: #bbbbbb; height: 36px; border-radius: 24px; }
.progress .progress-bar { background: #1428a0; line-height: 38px; }

.desafiopuntoscanje { margin-top: 32px; }
.desafiopuntoscanje h2 { font-size: 19px; margin: 0 0 12px 0; text-align: center; }
.desafiopuntoscanje .fondoceleste { padding: 22px 0; min-height: 210px; }
.desafiopuntoscanje .desafio_home { border-radius: 8px; text-align: center; }

.desafiopuntoscanje .mispuntosycanje .ultimoscanjesgallery .catalogo_uno{ 
width: 100% !important;
min-width: 200px !important;}

.desafiopuntoscanje .slick-next{ display: none !important;}
.desafiopuntoscanje .slick-prev{ display: none !important;}

.desafiopuntoscanje .mispuntosycanje .ultimoscanjesgallery .ultimopic { background: white; border-radius: 6px; min-width: 40%; margin: 12px auto; }
.desafiopuntoscanje .mispuntosycanje .ultimoscanjesgallery .ultimopic img { border-radius: 6px 0 0 6px; max-height: 103px; margin: 0 auto; padding: 6px; }
.desafiopuntoscanje .mispuntosycanje .btn-primary { margin: 12px 22px 0 auto; display: inline-block; float: right; }

.nohaycanjes h2 { padding-top: 32px; }

.grupocatalogo h4 { font-family: 'SamsungSharpBold'; font-size: 20px; border-bottom: 1px solid black; margin-bottom: 32px; }

.contenedor_logros .achievementSlide { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: wrap; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.contenedor_logros .achievementSlide .una_moneda { position: relative; margin: 2px; }
.contenedor_logros .achievementSlide .una_moneda .imgmoneda {  z-index: 10 !important; position: absolute; width: 94px; top: 3px; left: 3px; border-radius: 100px; }
.contenedor_logros .achievementSlide .una_moneda .imgmoneda:hover {   opacity:0;  z-index: 10 !important;}
.contenedor_logros .achievementSlide .una_moneda .moneda_inferior { z-index: 1 !important;}
.contenedor_logros .achievementSlide .una_moneda {z-index: 10 !important;}

.desafiopuntoscanje .catalogo_canjeable{ min-width: 50% !important; }

.blueborder { border-radius: 100px; border: 5px solid #070d97; width: 116px; height: 116px; margin: 0 auto; }
.blueborder .blackcircle { background: black; border-radius: 100px; width: 90px; height: 90px; margin: 8px; text-align: center; padding: 33px 0 0 0; color: white; line-height: 17px; }
.blueborder .blackcircle b { font-size: 23px; }

.catalogo_premios { padding: 22px 0; /* para el de la home */ }
.catalogo_premios .catalogo_uno { background: #fff; border-radius: 6px; margin-bottom: 12px; min-height: 140px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 210px; overflow: hidden; }
.catalogo_premios .catalogo_uno .catalogo_thumb { width: 40%; float: left; min-height: 140px; }
.catalogo_premios .catalogo_uno img { border-radius: 6px 0 0 6px; max-height: 120px; margin: 0 auto; padding: 6px; }
.catalogo_premios .catalogo_uno .catalogo_info { width: 60%; float: left; padding: 12px 4px 6px 0; font-size: 12px; }
.catalogo_premios .catalogo_uno .catalogo_info h4 { font-size: 14px; font-family: 'samsung800'; margin-bottom: 12px !important; text-transform: uppercase; }
.catalogo_premios .catalogo_uno .catalogo_info h3 { font-size: 22px; }
.catalogo_premios .catalogo_uno .catalogo_info h5 { font-size: 12px; }
.catalogo_premios .catalogo_uno .catalogo_info h4, .catalogo_premios .catalogo_uno .catalogo_info h5, .catalogo_premios .catalogo_uno .catalogo_info h3 { color: black; margin: 0; }
.catalogo_premios .catalogo_uno .catalogo_info a.btn_canje { color: black; border: 1px solid black; padding: 10px 12px 7px 12px; border-radius: 8px; margin-top: 12px; display: inline-block; font-size: 13px; width: 100%; text-align: center; -webkit-transition: .2s linear all; transition: .2s linear all; margin-bottom: 3px; }
.catalogo_premios .catalogo_uno .catalogo_info a.btn_canje:hover { background: black; color: white; text-decoration: none; border-color: black; }
.catalogo_premios .catalogo_uno .catalogo_info a.btn_canje[disabled] { opacity: .3; }
.catalogo_premios .catalogo_uno .catalogo_info a.btn_canje[disabled]:hover, .catalogo_premios .catalogo_uno .catalogo_info a.btn_canje[disabled]:focus { background: #fff; color: black; border-color: black; }
.catalogo_premios .catalogo_uno.catalogo_canjeable { background-color: white; border: 1px solid #f7f7f7; -webkit-box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2); box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2); }
.catalogo_premios .catalogo_uno.catalogo_canjeable h4 { overflow: hidden; }
.catalogo_premios .catalogo_uno.catalogo_canjeable a.btn_canje { background: transparent; }
.catalogo_premios .catalogo_moneda_container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.catalogo_premios .catalogo_moneda_container .catalogo_moneda { border-radius: 100px; border: 4px solid #070d97; width: 88px; height: 88px; position: static; }
.catalogo_premios .catalogo_moneda_container .catalogo_moneda h3 { color: white; padding: 0; text-align: center; font-size: 15px; background: black; border-radius: 100px; height: 68px; width: 69px; margin: 6px; padding: 18px 0 0 0; }
.catalogo_premios .catalogo_moneda_container .catalogo_moneda h3 span { font-size: 10px; font-family: 'samsung500'; text-transform: uppercase; }
.catalogo_premios .catalogo_moneda_container .catalogo_faltan p { font-family: 'samsung500'; color: black; padding: 0 0 0 6px; font-weight: bold; }
.catalogo_premios .catalogo_moneda_container .catalogo_faltan p span { color: #000; }
.catalogo_premios .catalogo_moneda_container .catalogo_faltan p b { font-family: 'samsung800'; }

.catalogo_uno.catalogo_canjeable .catalogo_moneda_container .catalogo_faltan p { color: #fff; }
.catalogo_uno.catalogo_canjeable .catalogo_moneda_container .catalogo_faltan p span { color: #04a8eb; }

.cont_concurso_slide { padding: 32px 0; }

.vendedores_lista .vendedor_uno { background: #fff; border-radius: 6px; color: black; padding: 6px 12px; margin-bottom: 22px; }
.vendedores_lista .vendedor_uno .vendedor_info i { margin: 0 6px 0 3px; }
.vendedores_lista .vendedor_uno .vendedor_info h1 { margin: 0; padding: 0; font-size: 24px; width: 100%; float: left; margin-bottom: 10px; }
.vendedores_lista .vendedor_uno .vendedor_info .info_mail { display: block; margin-bottom: 13px; }
.vendedores_lista .vendedor_uno .vendedor_info .info_cel { display: inline-block; margin-right: 12px; }
.vendedores_lista .vendedor_uno .vendedor_info .info_doc { display: inline-block; }
.vendedores_lista .vendedor_uno .ico_eliminar { float: right; font-size: 30px; line-height: 100%; }
.vendedores_lista .vendedor_uno .ico_eliminar i { color: black; opacity: .4; -webkit-transition: all .2s linear; transition: all .2s linear; }
.vendedores_lista .vendedor_uno .ico_eliminar i:hover { opacity: 1; cursor: pointer; }

.vendedor_label { text-align: right; font-size: 24px; padding-top: 20px; }

.vendedor_row { margin-bottom: 12px; }

.form_asignacion .btn_cont.big_form { margin-top: 30px; }

.table-responsive .table { border: 1px solid #fff; }
.table-responsive tr:first-child td { font-weight: bold; font-size: 18px; }
.table-responsive .col_cantidad, .table-responsive .col_fecha { text-align: center; }

body.pag_index .m_index a, body.pag_dashboard .m_dashboard a, body.pag_premios .m_premios a, body.pag_ventas .m_ventas a, body.pag_consultas .m_consultas a { background: none transparent; border-bottom: 2px solid #fff; color: #fff; }

.modal-title, .modal-body * { color: #000; }

.muestraerror input, .muestraerror select, .muestraerror textarea { border-color: #d9534f; }

form span.label.label-danger { visibility: hidden; }

.muestraerror span.label.label-danger { height: 26px; visibility: visible; }
.muestraerror .form-control:focus { border-color: #d9534f; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6); }

form.form_agregar_ventas span.label.label-danger, form.form_consultas span.label.label-danger { margin-bottom: 12px; }

.pagination > li > a, .pagination > li > span { background: transparent; color: #fff; }
.pagination > li > a:focus, .pagination > li > a:hover { color: #fff; background-color: rgba(255, 255, 255, 0.23); }
.pagination > li > span:focus, .pagination > li > span:hover { color: #fff; background-color: rgba(255, 255, 255, 0.23); }
.pagination > .active > a { color: black; background-color: rgba(255, 255, 255, 0.7); border-color: #fff; }
.pagination > .active > a:focus, .pagination > .active > a:hover { color: black; background-color: rgba(255, 255, 255, 0.7); border-color: #fff; }
.pagination > .active > span { color: black; background-color: rgba(255, 255, 255, 0.7); border-color: #fff; }
.pagination > .active > span:focus, .pagination > .active > span:hover { color: black; background-color: rgba(255, 255, 255, 0.7); border-color: #fff; }
.pagination > .disabled > a { color: rgba(255, 255, 255, 0.4); cursor: not-allowed; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }
.pagination > .disabled > a:focus, .pagination > .disabled > a:hover { color: rgba(255, 255, 255, 0.4); cursor: not-allowed; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }
.pagination > .disabled > span { color: rgba(255, 255, 255, 0.4); cursor: not-allowed; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }
.pagination > .disabled > span:focus, .pagination > .disabled > span:hover { color: rgba(255, 255, 255, 0.4); cursor: not-allowed; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }

.datepicker .td.day { color: black; }
.datepicker table tr td.old, .datepicker table tr td.new { color: #ccc; }
.datepicker thead tr:first-child th, .datepicker tfoot tr th { cursor: pointer; color: black; }
.datepicker table tr td span { color: black; }

.concurso_slide { margin-bottom: 140px; }

.c_header { color: #000; border-radius: 6px 6px 0 0; background: none; }
.c_header h2 { color: #000; text-align: left; margin-left: 12px; margin-top: 14px; font-family: 'SamsungSharpBold'; }
.c_header h3 { color: #000; margin: 0; font-family: 'SamsungSharpBold'; letter-spacing: 1px; font-size: 24px; }

.tiempo { padding-right: 22px; display: inline-block; color: #000; }

.c_dia, .c_hora, .c_minuto, .c_segundo { display: inline-block; color: #000; }

.c_dia, .c_hora, .c_minuto, .c_segundo { font-weight: bold; margin-bottom: 0; padding-right: 6px; letter-spacing: -2px; }

.c_dia span, .c_hora span, .c_minuto span, .c_segundo span { font-size: 10px; text-align: center; display: block; letter-spacing: 0; }

.col_tiempo { text-align: right; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 63px; }
.col_tiempo div { -ms-flex-item-align: center; align-self: center; }

.c_segundo { margin-right: 22px; }

.c_body { background: #fff; color: #000; border-radius: 0 0 6px 6px; padding: 20px 0; border-radius: 12px; }
.c_body h3 { text-align: center; font-size: 16px; font-family: "SamsungSharpBold"; }
.c_body h5 { font-size: 12px; padding: 12px 0 0 12px; font-family: "SamsungSharpBold"; }

.progress { margin: 12px 12px 12px 12px; }

.progress-bar { background: #ff9600; }

.second-slider { margin: 20px 0; }

.concurso_slide .slick-prev.slick-arrow, .concurso_slide .slick-next.slick-arrow { position: absolute; top: 105%; z-index: 100; }
.concurso_slide .slick-prev.slick-arrow:focus, .concurso_slide .slick-next.slick-arrow:focus { outline: none; }
.concurso_slide .slick-prev.slick-arrow { background: url("../gfx/chrevronnegro_prev.svg") no-repeat left; background-size: contain; width: 20px; height: 30px; border: none; left: 0; padding-left: 31px; }
.concurso_slide .slick-next.slick-arrow { background: url(../gfx/chrevronnegro.svg) no-repeat right; background-size: contain; width: 20px; height: 30px; border: none; right: 0; padding-right: 106px; }

.second-slider .slick-prev.slick-arrow, .second-slider .slick-next.slick-arrow { text-indent: -9999px; position: absolute; top: 50%; z-index: 100; }
.second-slider .slick-prev.slick-arrow:focus, .second-slider .slick-next.slick-arrow:focus { outline: none; }
.second-slider .slick-prev.slick-arrow { background: url("../gfx/chevron_prev.svg") no-repeat; background-size: contain; width: 15px; height: 30px; border: none; left: 8px; padding: 0; }
.second-slider .slick-next.slick-arrow { background: url("../gfx/chevron.svg") no-repeat right; background-size: contain; width: 15px; height: 30px; border: none; right: 0; padding: 0; }

.cont_premio { position: relative; text-align: center; padding: 12px; }
.cont_premio img { float: none; margin: 0 auto; border: 1px solid #ff9600; border-radius: 6px; }
.cont_premio .icon_gift { position: absolute; top: 20px; right: 20px; width: 42px; }

.c_body h6 { font-size: 10px; text-align: center; padding: 0 12px; }

.concurso_slide ul.slick-dots { list-style: none; text-align: center; padding: 0; margin: 0; }
.concurso_slide ul.slick-dots li { display: inline-block; background: black; color: #fff; font-size: 12px; padding: 0px; border-radius: 20px; margin: 0 2px; }

.slick-slide img { max-height: 200px !important; margin: 0 auto; }

#p_catalogo .formrow { margin-top: 32px; }
#p_catalogo .formrow form { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }
#p_catalogo .formrow form .inputbusqueda { height: 50px; border-radius: 100px 0 0 100px; border: 1px solid black; border-right: none; background: transparent; }
#p_catalogo .formrow form .btnbusqueda { height: 50px; border-radius: 0 100px 100px 0; border: 1px solid black; border-left: 0; background: black; padding: 0px 20px; }
#p_catalogo .formrow form .inputbusqueda, #p_catalogo .formrow form .btnbusqueda { margin: 0; display: inline-block; vertical-align: top; }
#p_catalogo .grupocatalogo h4 { text-align: center; background: url("../gfx/chevrondown.svg") no-repeat center bottom; padding-bottom: 17px; margin-top: 40px; margin-bottom: 40px; font-size: 16px; }
#p_catalogo .tarjeta_catalogo { background: #fff; border-radius: 6px; padding: 12px; margin-bottom: 22px; }
#p_catalogo .tarjeta_catalogo .catalogo_thumb { text-align: center; }
#p_catalogo .tarjeta_catalogo .catalogo_thumb img { margin: 0 auto; max-height: 110px; }
@media screen and (max-width: 767px) { #p_catalogo .tarjeta_catalogo { text-align: center; } }
#p_catalogo .tarjeta_catalogo .catalogo_moneda { background: url("../gfx/moneda_azul.svg"); background-repeat: no-repeat; background-size: contain; background-position: center center; width: 100px; height: 100px; display: inline-block; margin-top: 14px; }
@media screen and (max-width: 767px) { #p_catalogo .tarjeta_catalogo .catalogo_moneda { text-align: center; } }
#p_catalogo .tarjeta_catalogo .catalogo_moneda h3 { color: #fff; line-height: 13px; padding: 19px; text-align: center; font-size: 15px; text-align: center; }
#p_catalogo .tarjeta_catalogo .catalogo_moneda h3 span { font-size: 10px; font-family: 'samsung500'; text-transform: uppercase; padding: 0; margin: 0; display: inline-block; }
#p_catalogo .tarjeta_catalogo .catalogo_info h4, #p_catalogo .tarjeta_catalogo .catalogo_info a { color: black; }
#p_catalogo .tarjeta_catalogo .catalogo_info h4 { font-size: 18px; font-family: 'SamsungSharpBold'; color: black; }
#p_catalogo .tarjeta_catalogo .catalogo_info a.btndetalle { color: black; border: 1px solid black; padding: 8px 12px 8px 12px; border-radius: 8px; margin-top: 3px; display: inline-block; font-size: 12px; width: auto; text-align: center; -webkit-transition: .2s linear all; transition: .2s linear all; margin-bottom: 3px; -webkit-transition: all .2s linear; transition: all .2s linear; text-decoration: none; }
#p_catalogo .tarjeta_catalogo .catalogo_info a.btndetalle:hover { background: black; color: #fff; text-decoration: none; }
@media screen and (max-width: 767px) { #p_catalogo .tarjeta_catalogo .catalogo_info a.btndetalle { text-align: center; } }
#p_catalogo .btnlimpiar { color: #fff; border: 1px solid #fff; border-radius: 100px; padding: 12px 22px; text-align: center; display: inline-block; margin: 32px auto; font-size: 12px; -webkit-transition: all .2s linear; transition: all .2s linear; }
#p_catalogo .btnlimpiar:hover { background: #fff; color: black; text-decoration: none; }

#p_catalogo .catalogo_moneda_container, #modaldetalle .catalogo_moneda_container { text-align: center; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda, #modaldetalle .catalogo_moneda_container .catalogo_moneda { background: black; width: 120px; height: 120px; display: inline-block; margin: 0 auto; position: relative; border-radius: 100px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda:before, #modaldetalle .catalogo_moneda_container .catalogo_moneda:before { content: ''; border: 4px solid #070d97; border-radius: 100px; width: 128px; height: 128px; position: absolute; left: -9px; top: -9px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda .plusverde, #modaldetalle .catalogo_moneda_container .catalogo_moneda .plusverde { position: absolute; width: 39px; top: -6px; left: -5px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3 { color: #fff; text-align: center; margin-top: 30px; line-height: 19px; display: block; padding: 7px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3 strong, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3 strong { color: #fff; font-size: 25px; text-align: center; padding: 0; margin: -3px 0 0 0; display: block; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3 span, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3 span { color: #fff; font-size: 15px; text-align: center; padding-top: 0; display: block; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3 span.spanacu, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3 span.spanacu { font-size: 9px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3 span.spanpun, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3 span.spanpun { font-size: 12px; margin-top: -3px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3.dellistado, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3.dellistado { padding: 4px; margin-top: 22px; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3.dellistado strong, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3.dellistado strong { margin: -3px 0 0 0; line-height: 100%; }
#p_catalogo .catalogo_moneda_container .catalogo_moneda h3.dellistado span.spanpun, #modaldetalle .catalogo_moneda_container .catalogo_moneda h3.dellistado span.spanpun { margin-top: -5px; }

#p_catalogo .catalogo_moneda_container .catalogo_moneda { width: 110px; height: 110px; }

#modaldetalle .modal-body .rowtopmodal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#modaldetalle .modal-body .modaltitulo h5 { font-size: 13px; padding: 0; margin: 0; }
#modaldetalle .modal-body .modaltitulo h2 { font-size: 28px; font-family: 'samsung800'; text-align: left; color: black; padding: 0; margin: 0; }
@media screen and (max-width: 767px) { #modaldetalle .modal-body .modaltitulo h5, #modaldetalle .modal-body .modaltitulo h2 { text-align: center; } }
#modaldetalle .modal-body .modalthumb { position: relative; display: inline-block; }
#modaldetalle .modal-body .modalthumb img { max-height: 180px; }
#modaldetalle .modal-body .modalthumb .modalescudo { position: absolute; top: calc(50% - 30px); left: -30px; max-width: 60px; }
@media screen and (max-width: 767px) { #modaldetalle .modal-body .modalthumb .modalescudo { position: absolute; top: calc(50% - 40px); left: -10px; max-width: 80px; } }
#modaldetalle .modal-body .prodtitle2 { text-align: center; }
#modaldetalle .modal-body .prodtitle2 h3 { font-weight: bold; font-size: 20px; border-bottom: 1px solid #999; padding-bottom: 6px; margin-bottom: 28px; }
#modaldetalle .modal-body .listabeneficios .listbene, #modaldetalle .modal-body .listabeneficios .listvalue { display: -webkit-box; display: -ms-flexbox; display: flex; }
#modaldetalle .modal-body .listabeneficios .row { border-bottom: 1px solid #999; padding-top: 4px; padding-bottom: 4px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#modaldetalle .modal-body .listabeneficios .row .listvalue { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; }
#modaldetalle .modal-body .listabeneficios .row .listvalue.listbene { -webkit-box-pack: right; -ms-flex-pack: right; justify-content: right; }
#modaldetalle .modal-body .listabeneficios p { padding: 0; margin: 0; text-align: left; font-size: 14px; }
#modaldetalle .modal-body .listabeneficios .listbene p { text-align: right; font-size: 11px; width: 100%; }
#modaldetalle .modal-body .listabeneficios2 h5 { font-weight: bold; font-family: 'samsung800'; margin: 0 0 7px 0; }
#modaldetalle .modal-body .listabeneficios2 p { font-size: 11px; text-align: left; }
@media screen and (max-width: 767px) { #modaldetalle .modal-body .listabeneficios2 { margin-top: 32px; border-top: #ccc 1px solid; padding-top: 32px; } }

@media screen and (max-width: 778px) { .navbar-brand { padding: 15px !important; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
  .c_header h2 { text-align: center; margin-bottom: 0; }
  .c_header .col_tiempo { text-align: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 49px; }
  .second-slider .slick-next.slick-arrow { right: 10px; }
  .cont_concurso_slide { float: none; }
  .big_info { margin: 12px auto 42px auto; }
  .c_header h3 { font-size: 19px; } }
@media screen and (max-width: 703px) { /*.vendedores_lista .vendedor_uno .vendedor_info h1{ width: 90% }*/ }
@media (min-width: 768px) { .navbar-header { float: right; } }
@media (min-width: 768px) and (max-width: 991px) { .navbar-header { width: 100%; text-align: center; }
  .navbar-brand { float: none; margin: 0 auto; display: block; text-align: center; float: none; }
  .navbar-brand img { margin: 0 auto; float: none; } }
.datepicker-days { color: #000; }

select option { background-color: black !important; }

.navbar-toggle { padding: 9px 6px; }

.pendings { text-align: center; padding: 12px; background: #10305466; border-radius: 10px 10px; margin-bottom: 24px; }

.contenedor_juegos { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; width: 100%; margin-bottom: 70px; }
@media screen and (max-width: 703px) { .contenedor_juegos { display: block; } }

.roulette, .lottery { margin-top: 24px; background: white; border-radius: 2rem 2rem; text-align: center; padding: 0 12px; }
.roulette h3, .lottery h3 { color: black; text-transform: uppercase; font-family: samsung500; padding-top: 33px; }
.roulette button.jugarahora, .lottery button.jugarahora { border-radius: 1rem 1rem; padding: 17px 29px 14px 29px; font-size: 2rem; font-weight: bold; border: none; margin-bottom: 48px; padding: 12px 29px 14px 29px; background: #b58114; background: linear-gradient(294deg, #b58114 0%, #fdeb9a 26%, #fdeb9a 71%, #b58114 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b58114",endColorstr="#b58114",GradientType=1); border: 2px solid #b58114; color: #070d97; font-weight: bold; font-family: 'samsung800'; font-size: 20px; -webkit-box-shadow: 1px 8px 20px -4px rgba(0, 0, 0, 0.5); box-shadow: 1px 8px 20px -4px rgba(0, 0, 0, 0.5); -webkit-transition: .2s linear all; transition: .2s linear all; }
.roulette button.jugarahora span, .lottery button.jugarahora span { font-size: 18px; display: inline-block; }
.roulette button.jugarahora:hover, .lottery button.jugarahora:hover { -webkit-box-shadow: 1px 1px 20px -4px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 20px -4px rgba(0, 0, 0, 0.5); background: #b58114; background: linear-gradient(294deg, #b58114 0%, #fdeb9a 49%, #fdeb9a 52%, #b58114 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b58114",endColorstr="#b58114",GradientType=1); }
.roulette button.jugarahora:focus, .roulette button.jugarahora:active, .lottery button.jugarahora:focus, .lottery button.jugarahora:active { -webkit-box-shadow: none; box-shadow: none; outline: none; }

.roulette canvas { width: 100%; height: auto; max-width: 500px; }

.lottery .tickets { display: block; color: black; font-size: 22px; font-family: 'samsung800'; }
.lottery .date { display: block; color: black; font-size: 12px; margin-bottom: 21px; }
.lottery img { max-width: 400px; width: 100%; }
.lottery .photo span { display: block; color: black; margin: 20px; font-family: samsung500; font-size: 20px; }
.lottery .input { color: black; }
.lottery .input p { color: black; }
.lottery .input input { border: black 1px solid; padding: 2px 6px 0 6px; border-radius: 8px; text-align: center; width: 41px; }
.lottery .input input:focus { outline: none; border: #04a8eb 1px solid; }
.lottery .input span { display: block; }
.lottery .input input[type=number]::-webkit-inner-spin-button, .lottery .input input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.lottery button { background: black; border-radius: 1rem 1rem; padding: 1rem; font-size: 2rem; font-weight: bold; border: none; margin-bottom: 48px; }

/*# sourceMappingURL=samsung.css.map */

        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
          animation-name: jssorl-009-spin;
          animation-duration: 1.6s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
      }

      @keyframes jssorl-009-spin {
          from {
              transform: rotate(0deg);
          }

          to {
              transform: rotate(360deg);
          }
      }


      .jssorb051 .i {position:absolute;cursor:pointer;}
      .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
      .jssorb051 .i:hover .b {fill-opacity:.7;}
      .jssorb051 .iav .b {fill-opacity: 1;}
      .jssorb051 .i.idn {opacity:.3;}

      .jssora051 {display:block;position:absolute;cursor:pointer;}
      .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
      .jssora051:hover {opacity:.8;}
      .jssora051.jssora051dn {opacity:.5;}
      .jssora051.jssora051ds {opacity:.3;pointer-events:none;}