
$naranja: #ff9600;
$azul: black; /*  #070d97 */
$celeste: #04a8eb;
$blancoalfa: rgba(255,255,255,.3);

html{
	    background-color: white;
} 

body {
  	font-family: 'SamsungSharpRegular';
  	color: black;
    background: white;
}

a {
  color: black;
}


h2 {
  text-align: center;
}


.samsung_logo{
    max-width: 112px;
}

.navbar-default {
  background:black;
  border: none;
  border-radius: 0;
  .navbar-nav > {
    li > a {
      color: #fff;
      transition: all 0.2s linear;
    }
    .active > a {
      background: none transparent;
      border-bottom: 2px solid #fff;
      color: #fff;
      &:focus, &:hover {
        background: none transparent;
        border-bottom: 2px solid #fff;
        color: #fff;
      }
    }
    li > a {
      color: #fff;
      padding: 22px 0 0 0;
      margin: 0 12px;
      font-size: 12px;
      &:focus, &:hover {
        color: $naranja;
      }
    }
  }
  .navbar-collapse, .navbar-form {
    padding-bottom: 13px;
  }
}

.avisos_home {
  padding: 22px 22px 62px 22px;
  h2 {
    text-transform: uppercase;
    margin: 6px 0;
  }
  h3 {
    font-weight: lighter;
    font-size: 18px;
    margin: 6px 0;
  }
  small {
    font-size: 12px;
  }
}

.navbar-brand {
  padding: 19px 15px 15px 15px;
  img{
    display: inline-block;
  }
}

footer {
  margin-top: 40px;
  background: black;
  color: white;
}

.foot_text {
  padding: 30px 0;
  line-height: 180%;
  font-size: 15px;
  font-family: 'samsung500';
  i {
    padding: 0 6px;
  }
  .primerfoot{
  	text-align: center;
    color: white;
  	@media screen and (min-width: 990px) {
  		text-align: left;
  	}
  }
  .segundofoot{
  	text-align: center;
    color: white;
    a{
      color: white;
    }
  	@media screen and (min-width: 990px) {
  		text-align: right;
  	}
  }
}

.navbar-default .navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
  &:focus, &:hover {
    background-color: $naranja;
  }
}

.navbar-collapse.collapse.in {
  background: $blancoalfa;
}

.navbar-nav > li.btn_empresas a,
a.btn_empr {
  border-radius: 6px;
  //border: 1px solid rgba(255, 255, 255, 0.4);
      margin-top: 14px;
    padding: 8px 12px 6px 12px;
  background: #fff;
  color: $azul;
  font-size: 13px;
  transition: all .2s linear;
  &:hover {
    background: $naranja;
    color: #fff;
    text-decoration: none;
  }
}

a.btn_empr{
	margin-top: 21px;
	padding: 16px 32px;
	font-size: 16px;
	display: inline-block;
}

.navbar-default .navbar-nav > .open > a {
  background: none transparent;
  color: #fff;
  &:focus, &:hover {
    background: none transparent;
    color: #fff;
  }
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 6px;
}

.dropdown-menu > li > a {
  color: black !important;
}

.bighero img {
  border-radius: 12px;
}

.form_container {
  padding-top: 60px;
  padding-bottom: 120px;
  h1{
  	text-align: center;
  	font-size: 22px;
  	margin-bottom: 22px;
  }
}

.form-control {
    background: white;
    color: black;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    border-bottom-width: 2px;
    &:focus{
      border-color:black;
      box-shadow: none;
    }
}

.boton_login {
  margin: 12px auto;
}

.btn_cont {
  width: 100%;
  text-align: center;
}

.big_form .btn_cont {
  width: 100%;
}

.btn-default {
  background: transparent;
  color: black;
  border: 1px solid black;
  font-size: 18px;
  padding: 10px 22px 8px 22px;
  transition: all .2s linear;
  &:hover {
    background: black;
    color: #ffffff;
  }
}

.btn-primary {
  background: transparent;
  color: black;
  border: 1px solid black;
  font-size: 18px;
  padding: 10px 22px 8px 22px;
  transition: all .2s linear;
  &:hover {
    background: black;
    color: white;
  }
  &.btn-small{
    font-size: 12px;
  }
}

.linkblanco {
  color: black;
  font-size: 18px;
  transition: all .2s linear;
  &:hover {
    color: $naranja;
    text-decoration: none;
  }
}

/*
h2.quetegustaria{
  font-size: 28px;
}

.quetegustaria,
.quetegustaria + .catalogo_premios{
  display: none;
}

*/

.ventasyranking{
  margin-top: 32px;
  margin-bottom: 32px;
      padding: 22px 0;

}
.whitecard{
  background: white;
  border-radius: 13px;
  min-height: 262px;
      padding: 22px;
  h2{
    font-family: 'SamsungSharpBold';
    font-size: 19px;
    margin:0 0 22px 0;
  }
}

.rankingboard {
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 22px;
    display: inline-block;
    min-width: 129px;
    h5{
          border-bottom: 1px solid black;
    }
  .rankingnumbers b {
    font-family: 'SamsungSharpBold';
      font-size: 30px;
  }
}

.big_info {
  margin: 12px auto 0 auto;
  h1 {
    margin: 0;
    font-family: 'SamsungSharpBold';
    &.triple_moneda{
      background-image: url('../gfx/triple_moneda_azul.svg');
      background-repeat: no-repeat;
      background-size: 390px;
      background-position: center center;
      padding: 100px 5px 100px 0;
      font-size: 23px;
      margin-top: 22px;
      @media screen and (max-width: 400px){
        background-size: 330px;
      }
      @media screen and (max-width: 340px){
        background-size: 280px;
      }
      span{
        font-size: 14px;
      }
    }
  }
  h2{
    text-align: left;
     margin: 12px 0 6px 0;
    font-size: 14px;
    font-family: 'SamsungSharpRegular';
    &.titulologros{
      text-align: center;
    }
  }
  h3 {
    margin: 12px 0 0 0;
    font-size: 12px;
  }
  p{
    font-family: 'samsung500';
    b, span{
      font-family: 'samsung800';
    }
  }
}


.cadamoneda{
  max-width: 100px
}

.fondoceleste{
  background: #f5f6fa;
}

.homeSecondRow{
  h1{
      font-family: 'SamsungSharpBold';
      font-size: 19px;
      margin-bottom: 22px;
    }
  .fondoceleste{
    
  }
}




.homeslider{
  position: relative;
  .slick-prev.slick-arrow, .slick-next.slick-arrow {
    position: absolute;
    bottom: 20px;
    z-index: 100;
    padding: 22px 0;
  }
  .slick-prev.slick-arrow:focus, .slick-next.slick-arrow:focus {
    outline: none;
  }
  .slick-prev.slick-arrow {
    background: url('../gfx/chrevronnegro.svg') no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    right: 0px;
    text-indent: -9999px;
    overflow: hidden;
  }
  .slick-next.slick-arrow {
    background: url('../gfx/chrevronnegro.svg') no-repeat right;
    background-size: contain;
    width: 40px;
    height: 40px;
    border: none;
    right: 46px;
    transform: rotate(180deg);
    text-indent: -9990px;
    overflow: hidden;
  }



  .homesliderOne{
    .homesliderOneFirstRow{
      p{
        text-align: center;
        font-family: 'samsung500';
        font-size: 16px;
        margin-top: 12px;
        b{
          font-family: 'samsung800';
        }
      }
    }
    .homesliderOneSecondRow{
      .progresshome{
        text-align: center;        
      }
      h2{
        font-size: 19px;
        margin-bottom: 20px;
      }
      h3{
        font-size: 16px;
        font-family: 'samsung800';
      }
      p{
        font-family: 'samsung500';
      }
    }
  }
}


.buttonslist{
  a{
    img{
      max-width: 90px;
    }
  }
}

.progress{
  background: #bbbbbb;
  height: 36px;
  border-radius: 24px;
  .progress-bar{
    background: #1428a0;
    line-height: 38px;
  }
}

.desafiopuntoscanje{
  margin-top: 32px;
  h2{
    font-size: 19px;
    margin: 0 0 12px 0;
    text-align: center;
  }
  .fondoceleste{
    padding: 22px 0;
    min-height: 210px;

  }
  .desafio_home{
    border-radius: 8px;
    text-align: center;
  }
  .mispuntosycanje{
    .ultimoscanjesgallery{
      display: flex;
      flex-wrap: wrap;
      .ultimopic{  
      background: white;
      border-radius: 6px;
      min-width: 40%;
      margin: 12px auto;
        img{
          border-radius: 6px 0 0 6px;
          max-height: 103px;
          margin: 0 auto;
          padding: 6px;
        }
      }
    }
    .btn-primary{
      margin: 12px 22px 0 auto;
      display: inline-block;
      float: right;
    }
  }
}


.nohaycanjes h2{
      padding-top: 32px;
}


.grupocatalogo h4 {
    font-family: 'SamsungSharpBold';
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 32px;
}

.contenedor_logros{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .una_moneda{
    position: relative;
    margin: 2px;
    .imgmoneda{
        position: absolute;
    width: 94px;
    top: 3px;
    left: 3px;
    z-index: 2;
    border-radius: 100px;
    }
  }
}

.blueborder{
  border-radius: 100px;
  border: 5px solid #070d97;
  width: 116px;
  height: 116px;
  margin: 0 auto;
  .blackcircle{
    background: black;
    border-radius: 100px;
    width: 90px;
    height: 90px;
    margin: 8px;
    text-align: center;
        padding: 33px 0 0 0;
        color: white;
    line-height: 17px;
    b{
          font-size: 23px;
    }
  }
}


.catalogo_premios {
   padding: 22px 0;
  .catalogo_uno {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    min-height: 140px;
    display: flex;
    align-items: center;
        height: 210px;
    overflow: hidden;
    .catalogo_thumb {
      width: 40%;
      float: left;
      min-height: 140px;

    }
    img {
      border-radius: 6px 0 0 6px;
      max-height: 120px;
      margin: 0 auto;
      padding: 6px;
    }
    .catalogo_info {
      width: 60%;
      float: left;
      padding: 12px 4px 6px 0;
      font-size: 12px;
      h4 {
            font-size: 14px;
    font-family: 'samsung800';
    margin-bottom: 12px !important;
    text-transform: uppercase;
      }
      h3 {
        font-size: 22px;
      }
      h5 {
        font-size: 12px;
      }
      h4, h5, h3 {
        color: $azul;
        margin: 0;
      }
      a.btn_canje {
        color: $azul;
        border: 1px solid $azul;
        padding: 10px 12px 7px 12px;
        border-radius: 8px;
        margin-top: 12px;
        display: inline-block;
        font-size: 13px;
        width: 100%;
        text-align: center;
        transition: .2s linear all;
        margin-bottom: 3px;
        &:hover {
          background: black;
          color: white;
          text-decoration: none;
          border-color: black;
        }
        &[disabled] {
          opacity: .3;
          &:hover, &:focus{
            background: #fff;
            color: $azul;
            border-color: $azul; 
          }
        }
      }

  }
  &.catalogo_canjeable{
            background-color: white;
          border: 1px solid #f7f7f7;
          box-shadow: 0px 6px 12px 3px rgba(0,0,0,.2);
        h4{
          
          overflow: hidden;
        }
        a.btn_canje {
          background: transparent;
         
        }
  }
}



/* para el de la home */
  .catalogo_moneda_container{
    display: flex;
    align-items: center;
        .catalogo_moneda{
          border-radius: 100px;
          border: 4px solid #070d97;
          width: 88px;
          height: 88px;
          position: static;
          h3{
                color: white;
                padding: 0;
                text-align: center;
                font-size: 15px;
                background: black;
                border-radius: 100px;
                height: 68px;
                width: 69px;
                margin: 6px;
                padding: 18px 0 0 0;

            span{
              font-size: 10px;
              font-family:'samsung500';
              text-transform: uppercase;
            }
          }
        }
        .catalogo_faltan{
          p{
            font-family: 'samsung500';
            color: black;
            padding: 0 0 0 6px;
            font-weight: bold;
            span{
              color: #000;
            }
            b{
              font-family: 'samsung800';
            }
          }
        }
      }
}
.catalogo_uno.catalogo_canjeable{
  .catalogo_moneda_container{
    .catalogo_faltan{
        p{
          color: #fff;
          span{
            color: $celeste;
          }
        }
    }
  }
}


.cont_concurso_slide{
  padding: 32px 0;
}
        

.vendedores_lista .vendedor_uno {
  background: #fff;
  border-radius: 6px;
  color: $azul;
  padding: 6px 12px;
  margin-bottom: 22px;
  .vendedor_info {
    i {
      margin: 0 6px 0 3px;
    }
    h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }
    .info_mail {
      display: block;
          margin-bottom: 13px;
    }
    .info_cel {
      display: inline-block;
      margin-right: 12px;
    }
    .info_doc {
      display: inline-block;
    }
  }
  .ico_eliminar {
    float: right;
    font-size: 30px;
    line-height: 100%;
    i {
      color: $azul;
      opacity: .4;
      transition: all .2s linear;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

.vendedor_label {
  text-align: right;
  font-size: 24px;
  padding-top: 20px;
}

.vendedor_input {}

.vendedor_row {
  margin-bottom: 12px;
}

.form_asignacion .btn_cont.big_form {
  margin-top: 30px;
}

.table-responsive {
  .table {
    border: 1px solid #fff;
  }
  tr:first-child td {
    font-weight: bold;
    font-size: 18px;
  }
  .table {
    tr, td {}
  }
  .col_cantidad, .col_fecha {
    text-align: center;
  }
}

body {
  &.pag_index .m_index a, &.pag_dashboard .m_dashboard a, &.pag_premios .m_premios a, &.pag_ventas .m_ventas a, &.pag_consultas .m_consultas a {
    background: none transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
  }
}

.modal-title, .modal-body * {
  color: #000;
}

.muestraerror {
  input, select, textarea {
    border-color: #d9534f;
  }
}

form span.label.label-danger {
  visibility: hidden;
}

.muestraerror {
  span.label.label-danger {
    height: 26px;
    visibility: visible;
  }
  .form-control:focus {
    border-color: #d9534f;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(217, 83, 79, 0.6);
  }
}

form {
  &.form_agregar_ventas span.label.label-danger, &.form_consultas span.label.label-danger {
    margin-bottom: 12px;
  }
}

.pagination > {
  li > {
    a, span {
      background: transparent;
      color: #fff;
    }
    a {
      &:focus, &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.23);
      }
    }
    span {
      &:focus, &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.23);
      }
    }
  }
  .active > {
    a {
      color: $azul;
      background-color: rgba(255, 255, 255, 0.7);
      border-color: #fff;
      &:focus, &:hover {
        color: $azul;
        background-color: rgba(255, 255, 255, 0.7);
        border-color: #fff;
      }
    }
    span {
      color: $azul;
      background-color: rgba(255, 255, 255, 0.7);
      border-color: #fff;
      &:focus, &:hover {
        color: $azul;
        background-color: rgba(255, 255, 255, 0.7);
        border-color: #fff;
      }
    }
  }
  .disabled > {
    a {
      color: rgba(255, 255, 255, 0.4);
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.1);
      &:focus, &:hover {
        color: rgba(255, 255, 255, 0.4);
        cursor: not-allowed;
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.1);
      }
    }
    span {
      color: rgba(255, 255, 255, 0.4);
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.1);
      &:focus, &:hover {
        color: rgba(255, 255, 255, 0.4);
        cursor: not-allowed;
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.datepicker {
  .td.day {
    color: $azul;
  }
  table tr td {
    &.old, &.new {
      color: #ccc;
    }
  }
  thead tr:first-child th, tfoot tr th {
    cursor: pointer;
    color: $azul;
  }
  table tr td span {
    color: $azul;
  }
}

.concurso_slide {
  margin-bottom: 140px;
}

.c_header {
  color: #000;
  border-radius: 6px 6px 0 0;
  background: none;
  h2 {
    color: #000;
    text-align: left;
    margin-left: 12px;
    margin-top: 14px;
    font-family: 'SamsungSharpBold';
  }
  h3 {
    color: #000;
    margin: 0;
    font-family: 'SamsungSharpBold';
    letter-spacing: 1px;
    font-size: 24px;
  }
}

.tiempo {
  padding-right: 22px;
  display: inline-block;
  color: #000;
}

.c_dia, .c_hora, .c_minuto, .c_segundo {
  display: inline-block;
  color: #000;
}

.c_dia, .c_hora, .c_minuto, .c_segundo {
  font-weight: bold;
  margin-bottom: 0;
  padding-right: 6px;
  letter-spacing: -2px;
}

.c_dia span, .c_hora span, .c_minuto span, .c_segundo span {
  font-size: 10px;
  text-align: center;
  display: block;
  letter-spacing: 0;
}

.col_tiempo {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 63px;
  div {
    align-self: center;
  }
}

.c_segundo {
  margin-right: 22px;
}

.c_body {
  background: #fff;
  color: #000;
  border-radius: 0 0 6px 6px;
      padding: 20px 0;
    border-radius: 12px;
  h3 {
    text-align: center;
    font-size: 16px;
    font-family: 'SamsungSharpBold'
  }
  h5 {
    font-size: 12px;
    padding: 12px 0 0 12px;
    font-family: 'SamsungSharpBold'
  }
}

.progress {
  margin: 12px 12px 12px 12px;
}

.progress-bar {
  background: $naranja;
}

.second-slider {
  margin: 20px 0;
}

.concurso_slide {
  .slick-prev.slick-arrow, .slick-next.slick-arrow {
    position: absolute;
    top: 105%;
    z-index: 100;
  }
  .slick-prev.slick-arrow:focus, .slick-next.slick-arrow:focus {
    outline: none;
  }
  .slick-prev.slick-arrow {
    background: url('../gfx/chrevronnegro_prev.svg') no-repeat left;
    background-size: contain;
    width: 20px;
    height: 30px;
    border: none;
    left: 0;
        padding-left: 31px;
  }
  .slick-next.slick-arrow {
    background: url(../gfx/chrevronnegro.svg) no-repeat right;
    background-size: contain;
    width: 20px;
    height: 30px;
    border: none;
    right: 0;
    padding-right: 106px;
  }
}

.second-slider {
  .slick-prev.slick-arrow, .slick-next.slick-arrow {
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    z-index: 100;
  }
  .slick-prev.slick-arrow:focus, .slick-next.slick-arrow:focus {
    outline: none;
  }
  .slick-prev.slick-arrow {
    background: url('../gfx/chevron_prev.svg') no-repeat;
    background-size: contain;
    width: 15px;
    height: 30px;
    border: none;
    left: 8px;
    padding: 0;
  }
  .slick-next.slick-arrow {
    background: url('../gfx/chevron.svg') no-repeat right;
    background-size: contain;
    width: 15px;
    height: 30px;
    border: none;
    right: 0;
    padding: 0;
  }
}

.cont_premio {
  position: relative;
  text-align: center;
  padding: 12px;
  img {
    float: none;
    margin: 0 auto;
    border: 1px solid $naranja;
    border-radius: 6px;
  }
  .icon_gift {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 42px;
  }
}

.c_body h6 {
  font-size: 10px;
  text-align: center;
  padding: 0 12px;
}

.concurso_slide ul.slick-dots {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    background: $azul;
    color: #fff;
    font-size: 12px;
    padding: 0px;
    border-radius: 20px;
    margin: 0 2px;
  }
}

.slick-slide img {
  max-height: 200px !important;
  margin: 0 auto;
}


#p_catalogo{
  .formrow{
    margin-top: 32px;
    form{
          display: inline-flex;
      .inputbusqueda{
        height: 50px;
        border-radius: 100px 0 0 100px;
        border: 1px solid black;
        border-right: none;
        background: transparent;
      }
      .btnbusqueda{
        height: 50px;
        border-radius: 0 100px 100px 0;
        border: 1px solid black;
        border-left: 0;
        background: black;
        padding: 0px 20px;
      }
      .inputbusqueda, .btnbusqueda{
        margin: 0;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .grupocatalogo{
    h4{
      text-align: center;
      background: url('../gfx/chevrondown.svg') no-repeat center bottom;
      padding-bottom: 17px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 16px;

    }
  }
  .tarjeta_catalogo{
      background: #fff;
      border-radius: 6px;
      padding:12px;
      margin-bottom: 22px;
      .catalogo_thumb{
        text-align: center;
        img{
          margin: 0 auto;
          max-height: 110px;
        }
      }
      @media screen and (max-width: 767px){
            text-align: center;
          }
      .catalogo_moneda{
        @media screen and (max-width: 767px){
            text-align: center;
          }
        background: url('../gfx/moneda_azul.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-top: 14px;
        h3{
              color: #fff;
              line-height: 13px;
              padding: 19px;
              text-align: center;
              font-size: 15px;
              text-align: center;
          span{
            font-size: 10px;
            font-family:'samsung500';
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            display: inline-block;
          }
        }
      }
      .catalogo_info{

        h4, a{
          color: $azul;
        }
        h4{
          font-size: 18px;
          font-family: 'SamsungSharpBold';
          color: black
        }
        a.btndetalle{
          color: black;
          border: 1px solid black;
          padding: 8px 12px 8px 12px;
          border-radius: 8px;
          margin-top: 3px;
          display: inline-block;
          font-size: 12px;
          width: auto;
          text-align: center;
          transition: .2s linear all;
          margin-bottom: 3px;
          transition: all .2s linear;
          text-decoration: none;
          &:hover{
            background: black;
            color:  #fff;
            text-decoration: none;
            }
          @media screen and (max-width: 767px){
            text-align: center;
          }
        }
      }
  }
  .btnlimpiar{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 22px;
    text-align: center;
    display: inline-block;
    margin: 32px auto;
    font-size: 12px;
    transition: all .2s linear;
    &:hover{
      background: #fff;
      color: $azul;
      text-decoration: none;
    }
  }
}

#p_catalogo, #modaldetalle{
  .catalogo_moneda_container{
      text-align: center;
      .catalogo_moneda{
        background: black;
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        border-radius: 100px;
        &:before{
          content: '';
    border: 4px solid #070d97;
    border-radius: 100px;
    width: 128px;
    height: 128px;
    position: absolute;
    left: -9px;
    top: -9px;
        }
        .plusverde{
          position: absolute;
          width: 39px;
top: -6px;
    left: -5px;
        }
        h3{
          color: #fff;
          text-align: center;
          margin-top: 30px;
          line-height: 19px;
          display: block;
          padding: 7px;
          strong{
            color: #fff;
            font-size: 25px;
            text-align: center;
            padding:  0;
            margin: -3px 0 0 0;
            display: block;
          }
          span{
              color: #fff;
              font-size: 15px;
              text-align: center;
              padding-top: 0;
              display: block;
              &.spanacu{
                font-size: 9px;
              }
              &.spanpun{
                font-size: 12px;
                margin-top: -3px;

              }
          }
          &.dellistado{
            padding: 4px;
            margin-top: 22px;
            strong{
              margin: -3px 0 0 0;
              line-height: 100%;
            }
            span.spanpun{
              margin-top: -5px;
            }
          }
        }
      }
    }
}
#p_catalogo{
    .catalogo_moneda_container .catalogo_moneda{
      width: 110px;
      height: 110px;
    }
}


#modaldetalle{
  .modal-body{
    .rowtopmodal{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modaltitulo{
      h5{
        font-size: 13px;
        padding: 0;
        margin: 0;
      }
      h2{
        font-size: 28px;
        font-family: 'samsung800';
        text-align: left;
        color: $azul;
        padding: 0;
        margin: 0;
      }
      @media screen and (max-width: 767px){
        h5,h2{
          text-align: center;
        }
      }
    }
    .modalthumb{
      position: relative;
      display: inline-block;
      img{
        max-height: 180px;
      }
      .modalescudo{
        position: absolute;
        top: calc(50% - 30px);
        left: -30px;
        max-width: 60px;
        @media screen and (max-width: 767px){
          position: absolute;
          top: calc(50% - 40px);
          left: -10px;
          max-width: 80px;
        }
      }
    }
    
    .prodtitle2{
      text-align: center;
      h3{
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid #999;
        padding-bottom: 6px;
        margin-bottom: 28px;
      }
    }
    .listabeneficios{
      .listbene, .listvalue{
        display: flex;
      }
      .row{
        border-bottom: 1px solid #999;
        padding-top: 4px;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
      }
      .row .listvalue{
        align-items: center;
        justify-content: left;
        &.listbene{
          justify-content: right;
        }
      }
      p{
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 14px;
      }
      .listbene{
        p{
          text-align: right;
          font-size: 11px;
          width: 100%;
        }
      }

    }
    .listabeneficios2{
      h5{
        font-weight: bold;
        font-family: 'samsung800';
      margin: 0 0 7px 0;
      }

      p{
        font-size: 11px;
        text-align: left;
      }
      @media screen and (max-width: 767px){
        margin-top: 32px;
        border-top: #ccc 1px solid;
        padding-top: 32px;
      }
    }
  }
}


@media screen and (max-width: 778px) {
  .navbar-brand {
    padding: 15px !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .c_header {
    h2 {
      text-align: center;
      margin-bottom: 0;
    }
    .col_tiempo {
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 49px;
    }
  }
  .second-slider .slick-next.slick-arrow {
    right: 10px;
  }
  .cont_concurso_slide {
    float: none;
  }
  .big_info {
    margin: 12px auto 42px auto;
  }
  .c_header h3 {
    font-size: 19px;
  }
}

@media screen and (max-width: 703px) {
  /*.vendedores_lista .vendedor_uno .vendedor_info h1{ width: 90% }*/
}
@media (min-width: 768px) {
  .navbar-header {
      float: right;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    width: 100%;
    text-align: center;
  }
  .navbar-brand {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
    img {
      margin: 0 auto;
      float: none;
    }
  }
}


.datepicker-days {
  color: #000;
}

select option {
  background-color: $azul !important;
}
.navbar-toggle{
      padding: 9px 6px;
}

.pendings{
    text-align: center;
    padding:12px;
    background:#10305466;
    border-radius: 10px 10px;
    margin-bottom:24px; 
}

.contenedor_juegos{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  margin-bottom: 70px;
  @media screen and (max-width: 703px) {
    display: block;
  }
}

.roulette, .lottery{
    margin-top: 24px;
    background: white;
    border-radius: 2rem 2rem;
    text-align:center;
    padding: 0 12px;
    h3 {
        color: $azul;
        text-transform: uppercase;
        font-family: samsung500;
        padding-top: 33px;
    }
    button.jugarahora {
       border-radius: 1rem 1rem;
        padding: 17px 29px 14px 29px;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        margin-bottom: 48px;
        padding: 12px 29px 14px 29px;
        background: rgb(181,129,20);
        background: -moz-linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 26%, rgba(253,235,154,1) 71%, rgba(181,129,20,1) 100%);
        background: -webkit-linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 26%, rgba(253,235,154,1) 71%, rgba(181,129,20,1) 100%);
        background: linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 26%, rgba(253,235,154,1) 71%, rgba(181,129,20,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b58114",endColorstr="#b58114",GradientType=1);
        border: 2px solid #b58114;
        color: #070d97;
        font-weight: bold;
        font-family: 'samsung800';
        font-size: 20px;
        box-shadow:1px 8px 20px -4px rgba(0,0,0,.5);
        transition: .2s linear all;
        span{
          font-size: 18px;
          display: inline-block;
        }
        &:hover{
          box-shadow:1px 1px 20px -4px rgba(0,0,0,.5);
          background: rgb(181,129,20);
background: -moz-linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 49%, rgba(253,235,154,1) 52%, rgba(181,129,20,1) 100%);
background: -webkit-linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 49%, rgba(253,235,154,1) 52%, rgba(181,129,20,1) 100%);
background: linear-gradient(294deg, rgba(181,129,20,1) 0%, rgba(253,235,154,1) 49%, rgba(253,235,154,1) 52%, rgba(181,129,20,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b58114",endColorstr="#b58114",GradientType=1);
        }
        &:focus, &:active{
          box-shadow:none;outline: none;
        }
    }
}

.roulette {    
    
    canvas {
    width: 100%;
    height: auto;
    max-width: 500px;

    }
    
    
}


.lottery {

    .tickets {
        display: block;
        color: $azul;
        font-size: 22px;
        font-family: 'samsung800';
    }
    
    .date {
        display: block;
        color: $azul;
        font-size: 12px;
        margin-bottom: 21px;
    }

    
    img {
        max-width: 400px;
        width: 100%;
    }
    
    .photo {
        span {
            display: block;
            color: $azul;
            margin: 20px;
            font-family: samsung500;
            font-size: 20px;

        }
    }
    
    .input {
        color: $azul;
        p{ color: $azul; }
        input {
            border: $azul 1px solid;
            padding: 2px 6px 0 6px;
            border-radius: 8px;
            text-align: center;
            width: 41px;
            &:focus{
              outline: none;
              border: $celeste 1px solid;
            }
        }
        
        span {
            display: block;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button{
          -webkit-appearance:none;
          margin:0
        }
    } 
    
    button {
        background: $azul;
        border-radius: 1rem 1rem;
        padding: 1rem;
        font-size:2rem;
        font-weight:bold;
        border:none;
        margin-bottom:48px;
    }
}

