<?php $this->Show->deploy($this->Api->feed('payload')); ?>

<form method="POST">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <?php $this->Form->submit(); ?>
                        </div>
                    </div>
                </div>   
            </div>             
        </div>
    </div>
</FORM>