@media all {
  html {
    font-family: sans-serif; }

  h1 {
    text-align: center; }

  table {
    width: 100%; }
    table tr td {
      overflow: hidden;
      word-wrap: break-word;
      border: 1px black solid;
      vertical-align: top; }
      table tr td .photo {
        float: left;
        width: 33%;
        text-align: center; }
        table tr td .photo p {
          margin: 0px; }
        table tr td .photo img {
          max-width: 100%;
          max-height: 150px; }
      table tr td .main {
        width: 60%;
        float: right;
        text-align: center; }
        table tr td .main h1 {
          margin: 0px;
          font-weight: bold; }
        table tr td .main h2 {
          margin: 0px;
          font-weight: normal;
          font-style: italic; }
        table tr td .main h3 {
          margin: 0px;
          padding-top: 20px;
          font-weight: bold; }
        table tr td .main h4 {
          margin: 0px;
          font-weight: normal; } }
@media print {
  table {
    page-break-inside: auto; }
    table tr {
      page-break-inside: avoid;
      page-break-after: auto; }
      table tr td .photo p {
        font-size: 4pt; }
      table tr td .main h1 {
        font-size: 8pt; }
      table tr td .main h2 {
        font-size: 6pt; }
      table tr td .main h3 {
        font-size: 8pt;
        padding-top: 18pt; }
      table tr td .main h4 {
        font-size: 6pt; } }

/*# sourceMappingURL=printable.css.map */
