@media all {
    html {
        font-family: sans-serif;
    }
    
    h1 {
        text-align: center;
    }
    
    table {
        width: 100%;
        
        tr {
            td {
                overflow: hidden;       
                word-wrap: break-word;
                border: 1px black solid;
                vertical-align: top;
        
                .photo {        
                    float: left;
                    width: 33%;
                    text-align:center;
                    
                    p {
                        margin: 0px;
                    }
                    
                    img {
                       max-width: 100%; 
                       max-height: 150px;
                    }
                }
                
                .main {
                    width: 60%;
                    float: right;
                    text-align:center;
                    
                    h1 {
                        margin: 0px;
                        font-weight: bold;
                    }
                    
                    h2 {
                        margin: 0px;
                        font-weight: normal;
                        font-style: italic;
                    }
                    
                    h3 {
                        margin:0px;
                        padding-top: 20px;
                        font-weight: bold;
                    }
                    
                    h4 {
                        margin: 0px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

@media print {
    table {
        page-break-inside:auto;
        
        tr {
            page-break-inside:avoid; page-break-after:auto;

            td {
                .photo {        
                    p {
                        font-size: 4pt;
                    }
                }
                
                .main {
                    h1 {
                        font-size: 8pt;
                    }
                    
                    h2 {
                        font-size: 6pt;
                    }
                    
                    h3 {
                        font-size: 8pt;
                        padding-top: 18pt;
                    }
                    
                    h4 {
                        font-size: 6pt;
                    }
                }
            }
        }
    }
}