.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar .navbar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

.navbar .navbar-brand .navbar-brand-icon i {
    font-size: 2rem;
}

.navbar .navbar-brand .navbar-brand-text {
    display: inline;
}

.card.shadow {
    box-shadow: 0 .1rem .2rem 0 rgba(58,59,69,.15) !important;
}

.btn-icon-split .icon {
    background-color: transparent;
    padding: 0 .25em !important;
}

.btn-icon-split .text {
    padding: 0 .25em !important;
}

.nav-pills .nav-link {
    border: 1px solid #4e73df;
}
.rankPosition{
    margin-top: 70px!important;
}
.fullwidth{
    width: 100%;
}
.cartCont{
    position: fixed;
    top: 0;
    right: -53vw;
    margin-left: -100px;
    height: 100vh;
    width: 60vw;
    padding: 10px;
    background-color: #e5e5e5;
    padding-top: 150px;
    transition: 0.5s;
}
.cartCont.active{
    right: 0;
    transition: 0.5s;
}
.cartCont button{
    width: 80px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}
.cartCont ul li{
    list-style: none;
    margin-top: 50px;
    color: #000;
    text-align: left;
    margin-left: -40px;
}
.cartItems{
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
}