<div style="text-align: center" class="profile-info-name">
    <form method="post">
        <button class="btn btn-trans btn-primary"><i class="fa fa-send"></i> Realizar Sorteo</button>
    </form>
    <div class="clearfix"></div>
</div>