<form id="assign_points" class="form_asignacion" method="post">
    <?php $this->Frontend->sellerPoints()?>
    
    <div class="row">
        <div class="btn_cont big_form clearfix">
            <a type="submit" class="btn btn-default boton_login"  data-toggle="modal" data-target="#myModal"><i class="fa fa-check" aria-hidden="true"></i> ASIGNAR PUNTOS</a>
        </div><!-- btn_cont -->
    </div><!-- row -->
</form>