<div class="row grupocatalogo">
    <div class="col-12">
        <h4><?=$division?></h4>
    </div><!-- col -->
</div><!-- row -->

<div class="row grupoproductos" data-index="<?=$index?>">
    <?php $this->Frontend->catalogProducts($products); ?>
</div><!-- row grupoproductos -->