
<div class="container">
<div class="col-sm-12">
<div class="catalogo_premios desafios clearfix">
	<div class="row grupocatalogo">
		<div class="col-12">
			<h4>Desafios</h4>
		</div><!-- col -->
	</div><!-- row -->

	<div class="row">
        <?php $this->Frontend->challengePrinter($challenges)?>
	</div>
</div>
</div>
</div>