<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <div class="catalogo_uno clearfix">
        <div class="catalogo_thumb">
            <img src="<?=$this->Frontend->prizePhotoUrl($redeem['prize_id'])?>" class="img-responsive" />
        </div>
        <div class="catalogo_info">
            <h4><?=$redeem['***foreign***']['prize_id']?></h4>
            <h3><strong><?=$this->Frontend->integer($redeem['points'])?> puntos</strong></h3>
            <p style="color:#000;"><?=$redeem['obs']?></p>
        </div><!-- catalogo_info -->
    </div><!-- catalogo_uno -->
</div><!-- col 4 --> 