<tr>
    <td><i class="fa fa-<?=$icon?>"></i></td>
    <td><?=$product?><?php $this->Frontend->massiveValidation($validation,'product_id')?></td>
    <td class="col_cantidad"><?=$this->Frontend->integer($quantity)?><?php $this->Frontend->massiveValidation($validation,'quantity')?></td>
    <td class="col_salesman_id"><?=$salesman?><?php $this->Frontend->massiveValidation($validation,'salesman_id')?></td>
    <td class="col_factura"><?=$invoice?><?php $this->Frontend->massiveValidation($validation,'invoice')?></td>
    <td class="col_fecha"><?=$date?><?php $this->Frontend->massiveValidation($validation,'sale_date')?></td>
    <td class="col_cantidad"><?=$this->Frontend->integer($points)?><?php $this->Frontend->massiveValidation($validation,'points')?></td>
    <td class="col_fecha"><?=$stock?></td>
</tr>