<div class="table-responsive">
    <table class="table">
        <tr>
            <td>Código</td>
            <td class="col_salesman_id">Vendedor</td>
            <td class="col_invoice">Factura</td>
            <td class="col_cantidad">Cantidad</td>
            <td class="col_fecha">Fecha</td>
            <td class="col_cantidad">Puntos Vendedor</td>
            <td class="col_cantidad">Puntos Responsable</td>
            <td class="col_approval">Aprobacion</td>
            <td class="col_approval">Acciones</td>
        </tr>
        
        <?php $this->Frontend->pendingSalesData(); ?>
    </table>
    
    <?php $this->FrontendShow->pagination($page,$count,count($data),$limit)?>
</div><!-- table responsive -->

