<div class="row grupocatalogo">
    <div class="col-12">
        <h4><?=$category?></h4>
    </div><!-- col -->
</div><!-- row -->

<div class="row">
     <?php $this->Frontend->categoryPrizes($prizes); ?>
</div>