<div class="col-sm-12">
    <h2><?= $this->Frontend->redeemsTitle('pendiente')?></h2>
    <div class="catalogo_premios clearfix">
        <?= $this->Frontend->redeems('pendiente')?>
    </div><!-- catalogo_premios -->
</div> 

<div class="col-sm-12">
    <h2><?= $this->Frontend->redeemsTitle('aprobado')?></h2>
    <div class="catalogo_premios clearfix">
        <?= $this->Frontend->redeems('aprobado')?>
    </div><!-- catalogo_premios -->
</div> 

<div class="col-sm-12">
    <h2><?= $this->Frontend->redeemsTitle('rechazado')?></h2>
    <div class="catalogo_premios clearfix">
        <?= $this->Frontend->redeems('rechazado')?>
    </div><!-- catalogo_premios -->
</div> 