<div class="col-md-8 ultimoscanjesin" style="margin-left: -15px;">
    <h2>Últimos Canjes</h2>

    <div class="row  fondoceleste">
				<div class="col-md-12 col-lg-12 homeSecondRow">
					<div class="ultimoscanjesgallery catalogo_premios"><div class="homeslider">        
                                <?php $this->Frontend->redeemPrinter($redeems); ?>
                    </div>
					</div><!-- homeslider -->
				</div><!-- col -->
			</div><!-- row -->
            
          
    <!-- <div class="ultimoscanjesgallery catalogo_premios">
        <?php /* $this->Frontend->redeemPrinter($redeems);*/ ?>
    </div>ultimoscanjesgallery 
    <a href="<?=$this->Html->url(['action' => 'prizes'])?>" id="vercanjesbtn" class="btn btn-primary btn-small">ver más opciones</a>
-->
</div><!-- col -->
