<div class="table-responsive">
    <table class="table">
        <tr>
            <td>Código</td>
            <td class="col_invoice">Factura</td>
            <td class="col_cantidad">Cantidad</td>
            <td class="col_fecha">Fecha</td>
            <td class="col_approval">Motivo de Rechazo</td>
        </tr>
        
        <?php $this->Frontend->rejectedData(); ?>
    </table>
    
    <?php $this->FrontendShow->pagination($page,$count,count($data),$limit)?>
</div><!-- table responsive -->

