<div class="col-sm-12 col-sm-12 col-md-6 col-lg-6 roulette" id="wheel_<?=$id?>">
    <h3><?=$name?></h3>
    <canvas height="500" width="500"></canvas>
    <p><button class="jugarahora"><span class="juga1">Jugá por</span> <?=$points?> <span class="puntos1">puntos</span></button></p>
</div>