


	<section class="fondoceleste" style="padding-top: 0px;">
		<div class="container">
			<div class="row  fondoceleste">
				<div class="col-md-12 homeSecondRow">
					<h1 class="text-center">Competencias Activas</h1>
					<div class="homeslider">
			        	<?php $this->Frontend->runSalesPrinter($runSales); ?>
					</div><!-- homeslider -->
				</div><!-- col -->
				<div class="col-md-3 col-lg-2 buttonslist" style="display: none">
					<a href="">
						<img src="<?=$this->Html->url('/frontend/gfx/btn_lottery.png')?>" class="img-fluid" />
					</a>
					<a href="">
						<img src="<?=$this->Html->url('/frontend/gfx/btn_zimple.png')?>" class="img-fluid" />
					</a>
					<a href="">
						<img src="<?=$this->Html->url('/frontend/gfx/btn_competencias.png')?>" class="img-fluid" />
					</a>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- section fondoceleste -->
