<?php if($this->Frontend->feed('auth.data.role') !== 'vendedor'): ?>
    <div class="row">
        <div class="btn_cont">
            <a class="btn btn-default boton_login" href="<?=Router::url([ 'controller' => 'frontend', 'action' => 'add_sale'] )?>"><i class="fa fa-plus" aria-hidden="true"></i> AGREGAR VENTA</a>
        </div><!-- btn_cont -->
    </div><!-- row -->
<?php endif; ?>