@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);

.bg-login-image {
    background-image: url(https://source.unsplash.com/featured/640x480?chart)
}

.w-100px {
    width: 100px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.mh-100px {
    max-height: 100px;
}

.mh-150px {
    max-height: 150px;
}

.mh-200px {
    max-height: 200px;
}

.fs-2x { font-size: 2em; }
.fs-3x { font-size: 3em; }
.fs-4x { font-size: 4em; }
.fs-5x { font-size: 5em; }

.no-underline { text-decoration: none !important; }

.card-body:hover .fas.text-gray-300 {
    color: inherit !important;
    opacity: 0.7 !important;
}

.card .card-body .col .text-uppercase {
    line-height: 1.2em;
    font-size: 20px;
}

table.table thead th {
    border: none;
}
.noticationLink b{
    background-color: red!important;
    color: white;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
}





.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar .navbar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

.navbar .navbar-brand .navbar-brand-icon i {
    font-size: 2rem;
}

.navbar .navbar-brand .navbar-brand-text {
    display: inline;
}

.card.shadow {
    box-shadow: 0 .1rem .2rem 0 rgba(58,59,69,.15) !important;
}
.topbar {
    height: 4.375rem;
    z-index: 99;
}

.btn-icon-split .icon {
    background-color: transparent;
    padding: 0 .25em !important;
}

.btn-icon-split .text {
    padding: 0 .25em !important;
}

.nav-pills .nav-link {
    border: 1px solid #4e73df;
}
.rankPosition{
    margin-top: 70px!important;
}
.fullwidth{
    width: 100%;
}
.cartCont{
    position: fixed;
    top: 0;
    right: -53vw;
    margin-left: -100px;
    height: 100vh;
    width: 60vw;
    padding: 10px;
    background-color: #e5e5e5;
    padding-top: 150px;
    transition: 0.5s;
}
.cartCont.active{
    right: 0;
    transition: 0.5s;
}
.cartCont button{
    width: 80px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}
.cartCont ul li{
    list-style: none;
    margin-top: 50px;
    color: #000;
    text-align: left;
    margin-left: -40px;
}
.cartItems{
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
}
#image_preview{
    min-width: 600px !important;

}

#logo_preview{
    min-width: 600px !important;

}
