<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <?php $this->Report->reportActions($links); ?>
                    </div>
                </div>
            </div>   
        </div>             
    </div>
</div>