<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="row">
                <?php $this->Detail->dataCards($schema, $data); ?>
            </div>
        </div>             
    </div>
</div>

<?php $this->Detail->actions($links); ?>