                </div> 
            </div>          
        </div>
    </div>
    
    <div class="row" id="<?="{$master}_group"?>">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30"><?=$title?></h4>
                <div class="row">   