<div class="bighero">
    <img src="<?=$this->Html->url('/frontend/gfx/big_banner_default.jpg')?>" class="img-responsive" />
</div><!-- bighero -->

<div class="avisos_home text-center">
    <a href="<?=$this->Html->url([ 'controller' => 'frontend', 'action' => 'login' ])?>" class="btn_empr">Ir al área de empresas &rarr;</a>
</div><!-- avisos_home -->

