<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-10">
        <h2><?=$this->Frontend->pendingSalesTitle()?></h2>
        <?=$this->Frontend->pendingSales()?>
    </div><!-- col -->
</div><!-- row -->