<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <h2><?=$this->Frontend->salesTitle()?></h2>
        <?=$this->Frontend->sales()?>
    </div><!-- col -->
</div><!-- row -->