<tr>
    <td><?=$full_name?></td>
    <td style="text-align:right"><?=$this->Reports->integer($acum)?></td>
    <td style="text-align:right"><?=$this->Reports->integer($redeemed)?></td>
    <td style="text-align:right"><?=$this->Reports->integer($acum - $redeemed)?></td>
</tr>